.main-nav-div {
    position: fixed;
    align-items: center;
    background-color: #000000;
    top: 0;
    right: 0;
    left: 0;
    justify-items: space-between;
    height: 80px; 
}

.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto
}

.nav-left {
    padding-left: 5px;
}

.nav-right {
    margin-right: 10px;
}

li,
a {
    font-family: "Italic", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.links {
    color: #3e4144; /* Cambia el color de la letra de los links */
}

.nav-logo {
    max-height: 70px; /* Ajusta este valor según tus necesidades */
    object-fit: cover;
    width: 100%;
}